:root {
    --gux-black: #17181D;
    --gux-grey: #292C35;
    --gux-gold: #E09145;
    --gux-egg-white: #FCD9B8;
    --gux-white: #FFF;

}

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
    color: var(--gux-black)
}